body {
  font-family: "Nunito", sans-serif;
  /* overflow-x: hidden;*/
}

.navbar-light .navbar-nav {
  margin: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: #005092;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.banner-section {
  width: 100%;
  height: auto;
  position: relative;
}

.banner-section .banner {
  background-image: url(/images/banner.jpg?279039acab30a0aa16305e9c939cd3d9);
  min-width: 98vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.banner-section .banner .banner-details {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 30px;
  color: white;
  text-align: center;
  width: 80%;
}

.properties {
  margin-top: 100px;
  width: 100%;
}

.properties .featured-properties-title {
  margin-bottom: 50px;
  width: 100%;
}

.properties .featured-properties-title h3 {
  color: #005092;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.properties .featured-properties-title hr {
  width: 6%;
  background: dimgrey;
}

.properties .card {
  color: white;
  margin: 15px 0;
}

.properties .card .property-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.properties .card .card-body {
  background: #1b3d58;
}

.properties .card .card-body strong {
  font-size: 22px;
  color: #967c63;
}

.reviews {
  margin-top: 85px;
  width: 100%;
}

.reviews .reviews-title {
  margin-bottom: 65px;
  width: 100%;
}

.reviews .reviews-title h3 {
  color: #005092;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.reviews .reviews-title hr {
  width: 6%;
  background: dimgrey;
}

.reviews .reviews-section-img img {
  width: 100%;
}

.reviews .review {
  /* display: flex;*/
  margin-top: 50px;
}

.reviews .review .review-text {
  padding-left: 15px;
  vertical-align: top;
}

.reviews .review .user-image {
  width: 85px;
  float: left;
}

.reviews .review .user-name {
  margin-top: 30px;
  text-align: center;
}

.reviews .review .user-name strong {
  text-transform: uppercase;
  color: #005092;
}

.reviews .review hr {
  margin-top: 40px;
}

.our-team {
  margin: 85px 0;
  width: 100%;
}

.our-team .team-title {
  margin-bottom: 65px;
  width: 100%;
}

.our-team .team-title h3 {
  color: #005092;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.our-team .team-title hr {
  width: 6%;
  background: dimgrey;
}

.our-team .card {
  padding: 25px;
}

.our-team .card .member-image {
  max-height: 200px;
  position: relative;
  overflow: hidden;
}

.our-team .card .card-body p {
  text-align: center;
}

.our-team .card .card-body .position {
  font-weight: 800;
  color: #1b3d58;
}

.our-team .card .card-body .view-profile-btn {
  text-align: center;
}

.our-team .card .card-body .view-profile-btn button {
  border: 1px solid #c5ad6f;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 20px;
}

.our-team .card .card-body .view-profile-btn button:hover {
  color: white;
  background: #c5ad6f;
  transition: 0.5s;
}

.our-team .card .member-name {
  text-align: center;
  color: #005092;
  font-size: 15px;
  text-transform: uppercase;
}

.resent-posts {
  margin: 85px 0;
  width: 100%;
  padding: 0 20px;
}

.resent-posts .post-title {
  margin-bottom: 65px;
  width: 100%;
}

.resent-posts .post-title h3 {
  color: #005092;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.resent-posts .post-title hr {
  width: 6%;
  background: dimgrey;
}

.resent-posts .post-image {
  width: 100%;
  height: 100%;
}

.resent-posts .post-image img {
  width: 100%;
}

footer {
  background: #1b3d58;
  color: white;
}

footer .information {
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
}

footer .information ul {
  list-style: none;
  padding: 0;
}

footer .information ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

footer .information ul li .fa-phone {
  transform: rotate(90deg);
}

footer .information ul li .fas {
  margin-left: 110px;
}

footer .information ul li span {
  color: #8da4b7;
}

footer .features {
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
}

footer .features ul {
  list-style: none;
  padding: 0;
}

footer .features ul li {
  margin-bottom: 15px;
  position: relative;
}

footer .features ul li a {
  color: #8da4b7;
  letter-spacing: 2px;
}

footer .features ul li a:hover {
  text-decoration: none;
}

footer .social-pages {
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
}

footer .social-pages ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

footer .social-pages ul li {
  margin: 0 20px;
}

footer .title {
  font-size: 13px;
  text-transform: uppercase;
  margin: 25px 0;
  letter-spacing: 3px;
  font-weight: 600;
}

